
/**
 * Goodsie logo.
 */

.logo[data-logo="Goodsie"] {
  width: 0;
}

.logo[data-logo="Goodsie"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Goodsie"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Goodsie"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
